/* HEADER SECTION */

.navbar-brand{
	margin-top: -18px;
}

.navbar-default{
	background: rgb(192,192,192);
	border-color: rgb(134,134,134);	
}



.navbar-brand img{
	height: 50px;
}

.navbar-psuedo-button{
	border-left: 1px solid rgb(95,95,95);
}

/* BODY SECTION */

body{
	background: rgb(95,95,95)
}


/* ACCORDION STYLING */

div.panel{
	background: rgb(192,192,192);
	border-color: rgb(134,134,134);
}

div.panel-default div.panel-heading{
	background: rgb(192,192,192);
	border-color: rgb(134,134,134);
}

a.list-group-item{
	background: white;
	border-color: white;
}

/* FOOTER STYLING */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  
}

#footer p{
	display:inline;
}

#footer img{
	height:60px;
}

.footer-text{
	padding: 0 20px;
	border-right: 1px solid grey;
}

.footer-info{
	width: 50%;
	margin: 0 auto;
}





/* RANDOM */
span.list-group {
	padding-left: 0;
	margin-bottom: 20px;
	width: auto;
	display: inline-block;
}

span.active {
	color: #fff;
	background-color: #428bca;
}

ul.sidebar {
	display: inline-block;
}

.blog-text-area {
	width: 100%;
	height: 200px;
	border-width: 2px;
	border-style: inset;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.hint-gray {
	color: grey;
}

.top-buffer {
	margin-top: 20px;
}

.vertical-buffer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.wide-text {
	width: 100%;
}

.right-float {
	float: right;
}

.text-centered {
	text-align: center;
}

.text-credit {
	font-size: 8px;
}

.blog-title {
	color: cadetblue;
	font-size: 20px;
	font-family: fantasy;
}

