/* HEADER SECTION */
.navbar-brand {
	margin-top: -18px;
}

.navbar-default {
	background: rgb(192, 192, 192);
	border-color: rgb(134, 134, 134);
}

.navbar-brand img {
	height: 50px;
}

.navbar-psuedo-button {
	border-left: 1px solid rgb(95, 95, 95);
}

/* BODY SECTION */
body {
	/* background: #FFFFFF; */
	background-image: url('../images/seal.jpg');
	background-attachment: fixed;
}

/* ACCORDION STYLING */
div.panel {
	background: rgb(192, 192, 192);
	border-color: rgb(134, 134, 134);
}

div.panel-default div.panel-heading {
	background: rgb(192, 192, 192);
	border-color: rgb(134, 134, 134);
}

a.list-group-item {
	background: white;
	border-color: white;
}

/* FOOTER STYLING */
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

#push {
	height: 60px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto 600px;
	margin-bottom: 600px;
}

@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

html {
	position: relative;
	min-height: 100%;
}

/* body {
	Margin bottom by footer height
	margin-bottom: 200px;
} */
#footer p {
	display: inline;
}

#footer img {
	height: 60px;
}

.footer-text {
	padding: 0 20px;
	border-right: 1px solid grey;
}

.footer-info {
	width: 50%;
	margin: 0 auto;
}

/* RANDOM */
span.list-group {
	padding-left: 0;
	margin-bottom: 20px;
	width: auto;
	display: inline-block;
}

span.active {
	color: #fff;
	background-color: #428bca;
}

ul.sidebar {
	display: inline-block;
}

.blog-text-area {
	width: 100%;
	height: 200px;
	border-width: 2px;
	border-style: inset;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.hint-gray {
	color: grey;
}

.top-buffer {
	margin-top: 20px;
}

.vertical-buffer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.wide-text {
	width: 100%;
}

.right-float {
	float: right;
}

.text-centered {
	text-align: center;
}

.text-credit {
	font-size: 8px;
}

.blog-title {
	color: cadetblue;
	font-size: 20px;
}

.title-font {
	font-family: Lithos Pro;
}

.body-font {
	font-family: Calibri;
}

@font-face {
	font-family: 'Lithos Pro';
	src: url('../fonts/lithos_pro.eot');
	src: url('../fonts/lithos_pro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lithos_pro.woff') format('woff'),
		url('../fonts/lithos_pro.ttf') format('truetype'),
		url('../fonts/lithos_pro.svg#glyphicons_halflingsregular')
		format('svg');
}

.fit-to-div {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

.text-body {
	margin-bottom: 100px;
	font-family: Calibri;
	background-image: URL('../images/skillborder.png');
	background-size: contain;
}

.text-body-header {
	margin-top: 10px;
	font-family: Calibri;
	background-image: URL('../images/topBorder.png');
}

.text-body-middle {
	font-family: Calibri;
	background-image: URL('../images/middleBorder.png');
	background-size: contain;
}

.text-body-footer {
	font-family: Calibri;
	background-image: URL('../images/bottomBorder.png');
	background-size: contain;
	margin-bottom: 100px;
}

div.text-body p {
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 50px;
}

div.text-body h2 {
	margin-right: 50px;
	margin-left: 150px;
	margin-top: 50px;
}

.transparent {
	opacity: 0;
}



.multiple-image-bg {
	background-image: url(../images/topBorder.png), url(../images/bottomBorder.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left 0px top -12px, left 0px bottom -12px;
	background-size: contain;
	position: relative;
}


.multiple-image-bg:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 5%;
    right: 0;
    bottom: 5%;
    left: 0;
     background: url(../images/middleBorder.png) top left repeat-y;
     background-size: contain;
}

.text-margin {
	padding-top: 10%;
	padding-bottom: 10%;
	padding-right: 20%;
	padding-left: 20%;
}